*{
    margin: 0;
    padding: 0;
}

.profile-img{
    border-radius: 50%;
    margin: 5px;
}
.profile-info{
    font-size: 1.2rem;
    margin-top: 5px;
}
.divider{
    width: 50%;
    margin-top: 10px;
}
.profile-container{ 
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.btn-grp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    margin-top: 15px;
}
.profile-btn{
    width: 100%;
    margin-top: 10px !important;
    background-color: #808080!important;
}
.profile-btn:hover{
    background-color: #666666!important;
}


@media (max-width: 768px) {
    .profile-container {
        width: 80%;
    }
    .btn-grp{
      width: 90%;
    }
  }