.nav-btn{
    color: #ffffff;
}
.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-container{
    width: 100vw;
}
.nav-title{
    display: flex;
}
.cat-link{
    color: #ffffff !important;
}
.nav-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-container{
    display: flex;
    justify-content: flex-start;
}